dist/*
build/*

/matches
/deploy/lib
/deploy/bin
*.rms
*.bc17
/build/
/bin/
*.conf
.DS_Store
*.log
*.swp
*.pyc
.gradle
/client/
*.jar
*.iml
*.ipr
*.iws
/.idea/

/gradle/
build.gradle
gradle.properties
gradlew
gradlew.bat
LICENSE
README.md
version.txt


# User-specific stuff:
battlecode-scaffold.iws

# Eclipse user-specific files
.classpath
.project
.settings/gradle.properties
